@font-face {
	font-family: 'ProximaNova';
	src: url('ProximaNova-Light.otf');
}

html { 
    height: 100%;
    font-size: 1em;
}
      
body { 
	font-family: 'ProximaNova', Helvetica;
    height: 100%; 
    margin: 0; 
    padding: 0;
    background-color: #1abc9c;
}

h1 {
	color: white;
	font-size: 5em;
}

h2 {
	color: white;
	font-size: 4em;
}

#mockup {
	height: 50%;
	width: auto;
}

.body_text {
	font-size: 2em;
	color: white;
}