@font-face {
	font-family: 'ProximaNova';
	src: url('ProximaNova-Light.otf');
}

html { 
    height: 100%;
    font-size: 1em;
}
      
body { 
	font-family: 'ProximaNova', Helvetica;
    height: 100%; 
    margin: 0; 
    padding: 0;
    background-color: #1abc9c;
}